<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.sixgun.ponyexpress"
	android:versionCode="14"
	android:versionName="1.1_d56e0055">
	
    <uses-sdk targetedSdkVersion="14" android:minSdkVersion="8" />
    
    <supports-screens android:resizeable="true"
                  android:smallScreens="true" 
                  android:normalScreens="true" 
                  android:largeScreens="true" 
                  android:anyDensity="true" />
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
	<application
	    android:icon="@drawable/pony_icon"
	    android:theme="@style/ThemeSelector"
		android:label="@string/split_app_name"
		android:name="PonyExpressApp">
		<activity android:name=".activity.PonyExpressActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter >    
				<action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:scheme="pcast"/>
		        <data android:scheme="itpc"/>
		        <data android:scheme="feed"/>
		        <data android:scheme="podcast"/>       
		    </intent-filter>
		    <intent-filter >
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:scheme="http" android:host="*.feedburner.com" 
		            android:pathPattern=".*"/> 
		        <!-- This is for TWIT feeds that don't trigger the below filter
			    for some reason -->
			    <data android:scheme="http" android:host="leo.am" 
			        android:pathPrefix="podcasts"/>  
		    </intent-filter>
			<intent-filter >
			    <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.rss" />
			</intent-filter>
			<intent-filter >
			    <action android:name="android.intent.action.VIEW" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" />
			    <data android:scheme="http" />
			    <data android:mimeType="text/xml" />
			    <data android:mimeType="application/rss+xml" />
			    <data android:mimeType="application/atom+xml" />
			    <data android:mimeType="application/xml" />
			</intent-filter>
					

		</activity>
		<service android:name=".service.ScheduledDownloadService" />
		<service android:name=".service.UpdaterService" />
		<service android:name=".service.IdenticaHandler" />
		<service android:name=".service.PodcastPlayer" />
		<service android:name=".service.DownloaderService" />
		<activity android:name=".activity.EpisodesActivity" />
		<activity android:name=".activity.PlayerActivity" />
		<activity android:name=".activity.EpisodeTabs"
			android:windowSoftInputMode="adjustPan" android:launchMode="singleTop" />
		<activity android:name=".activity.EpisodeNotesActivity" />
		<activity android:name=".activity.IdenticaActivity"
			android:windowSoftInputMode="adjustPan" />
		<activity android:name=".activity.IdenticaEpisodeActivity"
			android:windowSoftInputMode="adjustPan" />
		<activity android:name=".activity.IdenticaAccountSetupActivity" />
		<activity android:name=".activity.PreferencesActivity" android:exported="false">
		   <intent-filter>
       			<action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
       			<category android:name="android.intent.category.DEFAULT" />
    		</intent-filter>
    	</activity>
		<activity android:name=".activity.AddNewPodcastFeedActivity" />
		<activity android:name=".activity.PlaylistActivity" />	
		<activity android:name=".activity.DownloadOverviewActivity" />
		<activity android:name=".activity.ShowNotesActivity" />
		<receiver android:name=".receiver.ScheduledDownloadReceiver" />
		<receiver android:name=".receiver.RescheduledUpdateReceiver"  
		    android:enabled="false">
		    <intent-filter >
		        <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
		    </intent-filter>
		</receiver>
		<receiver android:name=".receiver.UpdateAlarmReceiver" />
		<receiver android:name=".receiver.BootServiceReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
		<receiver android:name=".receiver.RemoteControlReceiver">
		    <intent-filter >
        		<action android:name="android.intent.action.MEDIA_BUTTON" />
    		</intent-filter>
</receiver>
		
	
</application>
	
</manifest> 
